body {
  color : #231f20;
}

h2 {
  line-height: 1.3em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  margin: auto;
}
ul li {
  background-color: blue; 
}
nav ul li {
  align-items: center;
  width: 150px;
  margin: 2px 2px 20px 2px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Source Sans Pro';
  height: 44px;
  line-height: 20px;
  color: #ccc;
  background-color: purple;
  transition: box-shadow 0.33s ease-out, color 0.33s ease-out;
  -webkit-transition: box-shadow 0.33s ease-out, color 0.33s ease-out; /* Safari */
}

nav ul li:not(.active) {
  background-color: white !important;
}
nav ul li.active {
  box-shadow: 0 0 7px rgba(132, 144, 151, 0.5);
  color : white;
  border-radius: 2px;
}
h3 {
  font-size: 25px;
  margin: 0;
  line-height: 29px;
  font-weight: 700;
  color: #5C2D91;
}
h4 {
    font-style: italic;
    font-weight: 100i;
    font-size: 18px;
  }

ul {
  padding: 0;
  margin: 0;
}
p {
  padding-top: 0.1em;
  margin: 1em 0;
  font-size: 16px;
  line-height: 1.5em;
}
main {
  
}
main img {
  width: 100%;
}

@media screen and (min-width: 400px) {
  main img {
    float: right;
    width: 45%;
  }
  h3 {
    padding-top: 38px;
    font-size: 2em;
    font-weight: 700;
    color: #5C2D91;
  }
  h4 {
    font-weight: 100i;
    font-size: 18px;
  }

  .price{
    font-size: 21px;
    font-weight: 700;
    color: #5C2D91;
    padding-top: 10px;
  }
}


footer {
  clear: both;
}